.input {
  display: flex;
  width: 80%;
  position: relative;
  align-items: center;
}
.input__box {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 20px;
  outline: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}
.input__box_submit_btn {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  background-color: #241776ff;
  color: white;
  font-weight: bold;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__box_submit_btn:hover {
  background-color: #3b2fa2ff;
  box-shadow: 0 0 15px black;
  cursor: pointer;
}
.input__box_submit_btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  /* width: 29.5%; */
  /* justify-content: space-between; */
  /* align-items: center; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: #eaee18ff;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todos__single {
    width: 80%;
  }
}
