@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

#root {
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25159fff;
  font-family: "DM Sans", sans-serif;
}
.heading {
  font-family: "Bitcount Prop Single", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin-top: 2rem;
  z-index: 1;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 2.5rem;
  }
}
